<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是一个什么样的人？有时候我也会这样问我自己。</p>
        <p>至少现在还是一名程序员，不管再忙还在坚持搬砖。</p>
        <p>喜欢分享，刚开始分享技术，后来也分享生活和故事。</p>
        <p>我是一名北漂，和大多数北漂一样，为了生计而奔波，早上坐一个多小时地铁，加班很频繁，有时候也会怀疑生活是为了啥？</p>
        <p>自从写博客之后我的生活改变很大，以前常常户外活动，现在一年出去两三次。</p>
        <p>我喜欢交朋友，认识很多人，真实情况是，北漂的朋友都很少，有几个好哥们，一年见四五次都跟中彩票一样。</p>
        <p>最喜欢读的一本书是《平凡的世界》，平凡的人生，不平凡的精神。</p>
        <p>希望有一天可以赚很多的钱，去干够风骚有意义的事情。</p>
        <p>我是纯洁的微笑，一个仍然在路上，向往自由和梦想的人！</p>

        <p>
          <strong>个人公众号</strong>：<a href="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" target="_blank">纯洁的微笑（ID：keeppuresmile）</a>，“分享技术、感悟人生”欢迎关注
        </p>

        <p><strong>About name</strong></p>

        <p>我的一个兄弟波仔，给我一种精神：平凡生活中乐趣一直在！这个头像非常和他神似，采用这个笔名也是为了体现在苦逼的生活中，永远保持纯洁，保持微笑！</p>

        <p>
          <a href="http://mp.weixin.qq.com/s/Fkcn_cPzleWNAbgC8maEeQ" target="_blank">了解更多</a>
        </p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Cnblogs：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>
            <li>我的微信：<strong>13981946247</strong>（备注：博客）</li>
        </ul>


       <h2>
         Note
       </h2>

        <p>
         这里什么都没有
       </p>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；
        </li>
      </ul>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>


       <h2>
         Donate
       </h2>

       <p>
         如果我的文章对你有帮助,你可以选择给我一些鼓励:)
       </p>

       <p align="center">

       <img src="http://blog.kanter.cn/assets/images/donate.jpeg" />
       <br/>
            
         <!-- <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>